
body{
  background-color: palevioletred;
}

.App {
  margin: 0 auto;

  max-width: 65%;
  min-width: 300px;
}

.map-container {
  margin: 10px auto;

  height: 500px;
  width: 80%;
  min-width: 300px;
}

.map-buttons {
  text-align: center;
}

.leaflet-container {
  height: 500px;
}